.header {
    background-color: #1f2937;
    color: #F9FAF8;
}

.h1 {
    font-size: 48px;
    
}

ul {
  text-decoration: none; /* no underline */
  list-style-type: none; /* no bullet points*/
}

a {
    text-decoration: none; /* no underline on links */
  }