body {
    font-family: sans-serif;
}

.header {
    background-color: #1f2937;
    color: #e5e7eb; /* TODO: make the header links this colour */
    border: 10px 10px solid #ee0404; /* TODO: this isnt working - figure out how to add border */
    
}

.h1 {
    font-size: 48px;
    color: #F9FAF8;
   /* font-weight: bold; */
   /* TODO: make the header text extra bold */
}

ul {
  list-style-type: none; /* no bullet points*/
}

a {
    text-decoration: none; /* no underline on links */
    /* color: #F9FAF8; - need it to be the same colour as the header text, this way would make all links on the page this color */
  }