body {
    font-family: sans-serif;
}

.section1 {
    display: flex;
    border: 5px solid #5c92fd;
}

.header { /* make section1-nav */
    background-color: #1f2937;
    color: #e5e7eb; /* TODO: make the header links this colour */
    border: 5px solid #ee0404; 
    display: flex;    
}

.header-links {
    text-decoration: none;
    color: #F9FAF8;
}
.h1 { /* make section1-h1 */
    font-size: 48px;
    color: #F9FAF8;
   /* font-weight: bold; */
   /* TODO: make the header text extra bold */
}

ul {
  list-style-type: none; /* no bullet points*/
}

